body, html {
  height: 100%;
  margin: 0;
  scroll-behavior: smooth;
  font-family: Arial, Helvetica, sans-serif;
}

.mySlides {
  height: 85%;
  width: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  
}

.buttonHeader 
{
  scroll-behavior: smooth;
  border: none;
  outline: 0;
  display: inline-block;
  padding: 10px 25px;
  background-color: white;
  text-align: center;
  cursor: pointer;
  border-radius: 4px;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.hero-text button:hover {
  background-color: #555;
  color: white;
}


body { background: white }

.accordion {
	width: 1000px; height: 430px;
	overflow: hidden;
  margin: 30px auto
}
.accordion ul { width: 200% }

.accordion li {
	position: relative;
	display: block;
	width: 160px;
	float: left;
  box-shadow: 0 0 30px 8px #222;
	transition: all 0.7s ease .300ms;
}

.accordion ul:hover li {width: 50px }
.accordion ul li:hover {width: 640px }

.caption {
	background: rgba(0, 0, 0, 0.5);
	position: absolute;
  bottom: 0;	
	width: 640px
}

.caption a {
	display: block;
  color: #fff;
  
	text-decoration: none;
  font: normal 16px 'Lato', Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
	padding: 15px;
}

.p1
{
  max-width: 800px;
  text-align: justify;
  margin-right: 10px;
  float: left;
  margin-left: 10px;
  
}

.p2
{
  margin-top: 120px;
  padding-bottom: 2px;
}

.p3
{
  text-align: justify;
  font-size: 20px;
}

.p4
{
  max-width: 800px;
  text-align: justify;
  margin-right: 10px;
  float: left;
  margin-left: 30px;
  white-space: pre-line;
}

.img1
{
  float: right;
  height: 225;
  width: 360;
  margin-right: 120px;
}

.img2
{
  margin-left: 120px;
 
}

.img3
{
  float: right;
  height: 330;
  width: 360;
  margin-right: 250px;
  margin-top: 150px;
}

@import url('https://fonts.googleapis.com/css?family=Arima+Madurai:300');

*,
*::before,
*::after {
	box-sizing: border-box;
}

h1 {
	
	color: black;
	font-size: 4rem;
	letter-spacing: -3px;
	text-shadow: 0px 1px 1px rgba(255,255,255,0.6);
	position: relative;
	z-index: 3;
}

.container {
	z-index: 1;
	position: relative;
	overflow: hidden;
	display: flex;
	align-items: center;
	justify-content: center;
	min-height: 100vh;
	min-height: 35rem;

	background-blend-mode: soft-light;
	background-size: cover;
	background-position: center center;
	padding: 2rem;
}

.bird {
	background-image: url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/174479/bird-cells.svg);
	background-size: auto 100%;
	width: 352px;
	height: 500px;
	will-change: background-position;
	animation-name: fly-cycle;
	animation-duration: 1s;
	animation-delay: -0.5s;
	animation-timing-function: steps(10);
	animation-iteration-count: infinite;
}

.bird-container {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%,-50%);
	will-change: transform;
}

@keyframes fly-cycle {
	
	100% {
		background-position: -3600px 0;
	}
	
}

* {box-sizing: border-box}
body {font-family: Verdana, sans-serif; margin:0}
.mySlides {display: none}
img 
{
  vertical-align: middle;
  object-fit: cover;
}


.slideshow-container {
  max-width: 1000px;
  max-height: 550px;
  position: relative;
  margin: auto;
}

.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  padding: 24px;
  margin-top: -22px;
  color:black;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
  border-style: solid;
}

.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
}

.text {
  color: #f2f2f2;
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
}

.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active, .dot:hover {
  background-color: #717171;
}

.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}

@media only screen and (max-width: 300px) {
  .prev, .next,.text {font-size: 11px}
}








